<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20" style="margin-left: 6%;"></textarea><br>
    <input id="chat-message-input" type="text" size="100" style="padding:1%; margin-top: 1%;"><br>
    <input id="chat-message-submit" type="button" value="Send" style="margin-top: 4%; margin-left: 37%; padding: 0.8%;">
    {{ room_name|json_script:"room-name" }}
    <script>
        const shift= 4;
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message_encrypt=data.message;
            let new_message="";
            let encodedIdx;
            const alphabet= ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
        
            for (var i=0; i<message_encrypt.length; i++){
                const char= message_encrypt[i];
                const index = alphabet.indexOf(char);
                
                if ((index-shift)<0){
                    encodedIdx = 26 + index - shift;
                }
                else {
                     encodedIdx = (index - shift) % 26;
                }
                console.log(shift)

                new_message += alphabet[encodedIdx].toLowerCase();
            }

            document.querySelector('#chat-log').value += (new_message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            let message_crypt = messageInputDom.value;
            //console.log(message_crypt.length);
            console.log(shift)
            let message="";
            const alphabet= ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
            let new_index;
            for (var i=0; i<message_crypt.length; i++){
                let letter= message_crypt[i];
                let index_letter=alphabet.indexOf(letter.toUpperCase());

                new_index= (index_letter + shift) % 26;
            
                message= message + alphabet[new_index];
            };
        

            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>