 {% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Chouchou</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Chef Stéphanie Le Quellec’s glamorous subterranean dining room feels like a luxury railroad car, with the chef working in a theater-like open kitchen at the head of the room. It’s fun and amusing, which is the point. Le Quellec has reinvented French haute cuisine for the 21st century, offering diners a good time instead of another long stuffy experience. Her cooking is light, lucid, and precise, with touches of gastronomic wit. Poached langoustines come with buckwheat and a quenelle of blanc-manger and claw meat. Scottish grouse with morels is cooked with smoked tea. Veal sweetbreads arrive with roasted cauliflower and harissa. And a ganache, featuring Criollo chocolate from Venezuela, is made with olive oil. La Scene is one of the rare Paris restaurants that works as well for a romantic tete a tete as it does for a business meal. </p>
    </div>
</div>
{% endblock content %}